In [1]:
import pandas as pd

In [2]:
dt=pd.read_csv("testi.csv",sep=";")

In [ ]:
dt.to_csv("tst.csv", sep=";")

In [ ]:
dt.loc[0:5,["testi1"]]

In [ ]:
dt[dt.testi1>0]

In [ ]:
dt.loc[0:5,"testi1":"testi3"]

In [35]:
xdt=pd.read_excel("book3.xlsx",sep=" ")

In [14]:
xdtT.to_excel("book3T.xlsx")

In [36]:
xdtT=xdt.T

In [37]:
xdtT.sort_values()

TypeError: sort_values() missing 1 required positional argument: 'by'

In [38]:
xdtT

                                                  NaN
1                 mika.klemettinen@businessfinland.fi
2                      tiina.nurmi@businessfinland.fi
3                 Jukka Riekki <Jukka.Riekki@oulu.fi>
4             Jaakko Sauvola <Jaakko.Sauvola@oulu.fi>
5               Arto Maaninen <Arto.Maaninen@oulu.fi>
6     Ext-Rontu Jari-Pekka <Jari-Pekka.Rontu@oamk.fi>
7                              jyrki.laitinen@oamk.fi
8                  Kopola Harri <Harri.Kopola@vtt.fi>
9              Paakkari Jussi <Jussi.Paakkari@vtt.fi>
10               Merimaa Mikko <Mikko.Merimaa@vtt.fi>
11                    janne.mustonen@businessoulu.com
12              Paavo Kosonen <Paavo.Kosonen@oulu.fi>
13                   Aikio Janne <Janne.Aikio@vtt.fi>
14                 Hyväri Harri <Harri.Hyvari@vtt.fi>
15        Ext-Liukkunen Kari <Kari.Liukkunen@oulu.fi>
16              Ext-Jurmu Marko <marko.jurmu@oulu.fi>
17            Matti Kinnunen <matti.kinnunen@oulu.fi>
18         Ext-Tyrvainen Pasi <pasi.tyrvainen@jyu.fi>
19                           pasi.raiskinmaki@jamk.fi
20                   Jetsu Petri <Petri.Jetsu@vtt.fi>
21                  Risto Talja <Risto.Talja@oulu.fi>
22                             pauli.kuosmanen@tut.fi
23                             kari.t.koskinen@tut.fi
24             Mikkonen Päivi <Paivi.Mikkonen@vtt.fi>
25     Kortelainen Helena <Helena.Kortelainen@vtt.fi>
26                           Mirva.Salokorpi@novia.fi
27    Ext-Paavola Jarkko <Jarkko.Paavola@turkuamk.fi>
28                               mikko.pohjola@utu.fi
29             Ext-Lilius Johan <Johan.Lilius@abo.fi>
30        Ext-Tarkoma Sasu <sasu.tarkoma@helsinki.fi>
31                         tommi.mikkonen@helsinki.fi
32                             jan.myller@helsinki.fi
33                 Kaisto Ilkka <Ilkka.Kaisto@vtt.fi>
34            Pekka Jokitalo <pekka.jokitalo@oulu.fi>
35   Ext-Jokitalo Pekka <pekka.jokitalo@verkotan.com>
36                   Saari Leila <leila.saari@vtt.fi>
37                             kimmo.paajanen@oamk.fi
38                            jussi.kangasoja@oamk.fi
39                                  timo.lind@oamk.fi
40                             pasi.pirttiaho@oamk.fi
41                                                NaN